.form {
    padding: $size-24;

    h2.title {
        margin-bottom: $size-28;
        
        font-size: $size-24;
        font-weight: 600;
    }

    .form-row {
        display: flex;
        gap: $size-24;
        flex-grow: 1;

        margin-bottom: $size-24;

        &.spaced {
            justify-content: space-between;
            flex-grow: 0;

            .form-field, button {
                width: unset;
            }
        }

        .form-field {
            width: 100%;
        }

        .alert {
            width: 100%;
            padding: 16px;

            box-shadow: none;
        }

        .form-row {
            margin: 0;
        }
    }
}