.modal-wrapper {
    position: fixed;
    z-index: 99999;
    inset: 0;

    opacity: 0;
    background-color: rgba(0, 0, 0, .2);

    pointer-events: none;
    transition: $transition;

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;

        border-radius: $radius;
        background-color: $grey-50;

        transform: translate(-50%, -50%);
    }

    &.opened {
        opacity: 1;
        pointer-events: all;
        transition: $transition;
    }
}