// Colors

// Main colors
:root {
    --white: '#FFF';
    --black: '#000';

    --title-color: #4E60FE;
    
    --main-color-100: #d0dff7;
    --main-color-300: #6C81EC;
    --main-color-500: #4E60FE;
    --main-color-700: #2a3cdf;

    --grey-0: hsl(225deg, 0%, 100%);
    --grey-50: hsl(240deg, 18%, 97%);
    --grey-100: hsl(225deg, 25%, 95%);
    --grey-200: hsl(225deg, 16%, 90%);
    --grey-300: hsl(225deg, 8%, 80%);
    --grey-400: hsl(225deg, 8%, 70%);
    --grey-500: hsl(225deg, 7%, 60%);
    --grey-600: hsl(225deg, 15%, 50%);
    --grey-700: hsl(225deg, 12%, 40%);
    --grey-800: hsl(225deg, 17%, 20%);
    --grey-900: hsl(225deg, 25%, 20%);
    --grey-1000: hsl(225deg, 15%, 15%);
}

.application.dark {
    --main-color-100: #07214a;
    --main-color-300: #377aff;
    --main-color-500: #528cff;
    --main-color-700: #709fff;

    --grey-0: hsl(225deg, 15%, 15%);
    --grey-50: hsl(225deg, 25%, 20%);
    --grey-100: hsl(225deg, 17%, 20%);
    --grey-200: hsl(225deg, 12%, 40%);
    --grey-300: hsl(225deg, 15%, 50%);
    --grey-400: hsl(225deg, 7%, 60%);
    --grey-500: hsl(225deg, 8%, 70%);
    --grey-600: hsl(225deg, 8%, 80%);
    --grey-700: hsl(225deg, 16%, 90%);
    --grey-800: hsl(225deg, 25%, 95%);
    --grey-900: hsl(240deg, 18%, 97%);
    --grey-1000: hsl(225deg, 0%, 100%);
}

.app-wrapper {
    transition: .2s ease;
}

// Code colors
:root {
    --code-keyword: #651fff;
    --code-function: #201dff;
    --code-boolean: #fff;
    
}

//// ==> SCSS Variables

// Dynamic Colors - Dark Mode

$main-color-100: var(--main-color-100);
$main-color-300: var(--main-color-300);
$main-color-500: var(--main-color-500);
$main-color-700: var(--main-color-700);

$grey-0: var(--grey-0);
$grey-50: var(--grey-50);
$grey-100: var(--grey-100);
$grey-200: var(--grey-200);
$grey-300: var(--grey-300);
$grey-400: var(--grey-400);
$grey-500: var(--grey-500);
$grey-600: var(--grey-600);
$grey-700: var(--grey-700);
$grey-800: var(--grey-800);
$grey-900: var(--grey-900);
$grey-1000: var(--grey-1000);

// Static colors

$red: #f00f0f;
$red-dark: #d10909;

$static-grey-50: hsl(225deg, 5%, 95%);
$static-grey-600: hsl(225deg, 15%, 50%);
$static-grey-800: hsl(225deg, 17%, 20%);