// Global

$border: 1px solid;
$radius: 4px;

$light-shadow: rgba(100, 100, 100, 0.07) 0px 4px 12px 0px;
$main-shadow: rgba(100, 100, 100, 0.15) 0px 7px 15px 0px;
$dark-shadow: rgba(100, 100, 100, 0.25) 1px 7px 22px 3px;

$transition: .2s ease;

$line-height: 1.65rem;