// ==> Inter

// Light
@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter/Inter-Light.ttf") format("woff2");
    font-weight: 300;
}

// Regular
@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter/Inter-Regular.ttf") format("woff2");
    font-weight: 400;
}

// Medium
@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter/Inter-Medium.ttf") format("woff2");
    font-weight: 500;
}

// Semi Bold
@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter/Inter-SemiBold.ttf") format("woff2");
    font-weight: 600;
}

// Bold
@font-face {
    font-family: "Inter";
    src: url("../../assets/fonts/Inter/Inter-Bold.ttf") format("woff2");
    font-weight: 700;
}